@model List<Company>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<h2>Companies</h2>

<table class="table table-condensed table-hover">
    <tr>

        <th scope="col">Name</th>

    </tr>
    @foreach (Company com in Model)
    {
        <tr>
            <td>@com.CompanyName</td>

            <td>
                <a asp-controller="Account"
                   asp-action="DeleteCompany"
                   asp-route-id="@com.CompanyId"
                   onclick="return confirm('Delete User [@com.CompanyName]')">Delete</a>
            </td>
        </tr>
    }
</table>