@model List<Company>

@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#jsUserTable').DataTable({
                paging: true,
                ordering: true,
                searcing: true,
                info: true,
                lengthMenu: [[6, 10, 20, -1], [6, 10, 20, "All"]]
            });
        });
    </script>


}

<h2>Companies</h2>

<table id="jsUserTable" class='table'>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Company com in Model)
        {
            <tr>
                <td>@com.CompanyName</td>

                <td>
                    <a asp-controller="Account"
                       asp-action="DeleteCompany"
                       asp-route-id="@com.CompanyId"
                       onclick="return confirm('Delete Company [@com.CompanyName]')">
                        <i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>