@model UserLogin

<form asp-controller="Account"
      asp-action="Login"
      method="post">

   <h2>Please Sign In</h2>
   <div class="col-sm-5">
      <div class="form-group row">
         <label asp-for="UserID" class="control-label">User ID :</label>
         <input asp-for="UserID" class="form-control" />
         <span asp-validation-for="UserID" class="text-danger"></span>
      </div>

      <div class="form-group row">
         <label asp-for="Password" class="control-label">Password :</label>
         <input asp-for="Password" class="form-control" />
         <span asp-validation-for="Password" class="text-danger"></span>
      </div>

      <div class="form-group row">
         <div class="form-check">
            <input asp-for="RememberMe" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label">
               Remember Me
            </label>
         </div>
      </div>

      @if (ViewData["Message"] != null)
      {
         <div class="form-group row">
            <div class="alert alert-@ViewData["MsgType"]">
               <text>@ViewData["Message"]</text>
            </div>
         </div>
      }

      <div class="form-group row">
         <input type="submit" class="btn btn-primary" value="Login" />
      </div>

   </div>

</form>

