<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Introductions</title>
</head>
<body>

    <p>

    </p>
    <h1>Welcome to Delivery Carbon Tracker</h1>
    <p>

    </p>
    <h2>What?</h2>

    <p>
        Delivery Carbon Tracker is a website which has services relating to carbon emissions of deliveries.
        
    </p>

    <h3>Our services include</h3>
    <ul>
        <li> Tracking carbon emissions of deliveries </li>
        <li> Calculating carbon emissions of deliveries </li>
        <li> Reports on carbon emissions of deliveries </li>

    </ul>
    <p>
        To start using out services, register an account and login.
    </p>
    <p>



    </p>

    <h2>Why?</h2>

    <p>
        Due to the rise in amount of Carbon Emission , it had started to become a <span style="color:red;">worrying</span> issue for both businesses and individual perspective. Apart from this, both business and individual are also required to achieve these listed
        goals as stated below. Therefore, <b>Delivery Carbon Tracker</b> is being invented by us that will help both businesses and individuals perspective. For Businesses perspective, carbon tracking can <u> offset their carbon footprint as a key part of their Corporate Social Responsibility (CSR) strategy</u>.
        While, for individual perspective, carbon tracking can <u>play a vital role in Collective Climate Action.</u>



        The COVID 19 pandemic has <span style="color:red;">impacted</span> consumer behavior with increased online shopping, and smaller but more frequent orders. The behavioral change has resulted in the increase of delivery services that contribute to the GHG
        emissions.
    </p>



    <h3>Goals</h3>
    <ul>
        <li> Singapore's goal of capping Greenhouse Gas (GHG) emissions by 2030 and MAS focusing on Green FinTech </li>
        <li> Thailand's goal of reducing gas emissions by 20% by 2030 </li>
        <li> Vietnam to cut gas emissions growth by 9% by 2030  </li>
    </ul>

    <h2>How?</h2>

    <p>Companies using our services will receive information about their carbon emission usage, and with our recommendations and guidelines, companies will be able to know if they would need to reduce carbon emissions for their deliveries.</p>


</body>
</html>
