<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Introduction</title>
</head>
<body>



    <h1>Introduction</h1>
    <p>
        Due to the rise in amount of Carbon Emission , it had started to become a <span style="color:red;">worrying</span> issue for both businesses and individual perspective. Apart from this, both business and individual are also required to achieve these listed
        goals as stated below. Therefore, <b>Delivery Carbon Tracker</b> is being invented by us that will help both businesses and individuals perspective. For Businesses perspective, carbon tracking can <u> offset their carbon footprint as a key part of their Corporate Social Responsibility (CSR) strategy</u>.
        While, for individual perspective, carbon tracking can <u>play a vital role in Collective Climate Action.</u>



        The COVID 19 pandemic has <span style="color:red;">impacted</span> consumer behavior with increased online shopping, and smaller but more frequent orders. The behavioral change has resulted in the increase of delivery services that contribute to the GHG
        emissions.
    </p>



    <h2>Goals</h2>
    <ul>
        <li> Singapore's goal of capping Greenhouse Gas (GHG) emissions by 2030 and MAS focusing on Green FinTech </li>
        <li> Thailand's goal of reducing gas emissions by 20% by 2030 </li>
        <li> Vietnam to cus gas emissions growth by 9% by 2030  </li>



    </ul>




</body>
</html>
